<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Health Data Visualization</title>
    <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/app.css">
</head>
<body>
    <div id="filter"></div>
    <div id="bubble"></div>
    <div id="bardiv">
        <svg id="bar" width="960" height="500"></svg>
    </div>
    <script src="../static/filter.js"></script>
    <script src="../static/bubble.js"> </script>
    <script src="../static/bar.js"></script>
</body>
</html>
